@model ttgapp.Models.TouristPlace

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TouristPlace</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.TPImagePath)"
                 width="400"
                 height="75"
                 alt="@Model.TPId" />
                 </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPlongitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPlongitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPlatitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPlatitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPGoogleLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.TPGoogleLink)
           
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestTimeToVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestTimeToVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportationDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportationDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TPId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
